
    <div ng-app="App" ng-controller="CurrentTimeController as Model">
        <h2>AWH Clockwork Project @ViewData["Version"] on @ViewData["Runtime"]!</h2>

        <button class="btn btn-primary" ng-click="Model.GetCurrentTime()">Get the time</button>
        <div class="row">
            <div class="col-sm">
                <div class="row">
                    <div class="col">
                        <label>CurrentTimeQueryId</label>
                    </div>
                    <div class="col">
                        <span ng-bind="Model.CurrentTime.currentTimeQueryId"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <label>ClientIp</label>
                    </div>
                    <div class="col">
                        <span ng-bind="Model.CurrentTime.clientIp"></span>
                    </div>
                </div>
            </div>
            <div class="col-sm">
                <div class="row">
                    <div class="col">
                        <label>Time</label>
                    </div>
                    <div class="col">
                        <span ng-bind="Model.CurrentTime.time"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <label>UTCTime</label>
                    </div>
                    <div class="col">
                        <span ng-bind="Model.CurrentTime.utcTime"></span>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <button class="btn btn-primary" ng-click="Model.GetCurrentTimeQueries()">Get all the time</button>
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            currentTimeQueryId
                        </th>
                        <th>
                            time
                        </th>
                        <th>
                            clientIp
                        </th>
                        <th>
                            utcTime
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="currentTime in Model.CurrentTimeQueries">
                        <td>
                            {{currentTime.currentTimeQueryId}}
                        </td>
                        <td>
                            {{currentTime.time}}
                        </td>
                        <td>
                            {{currentTime.clientIp}}
                        </td>
                        <td>
                            {{currentTime.utcTime}}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
