<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <meta charset="utf-8" />
</head>
<body>
    <link rel="stylesheet" href="~/ClientApp/node_modules/bootstrap/dist/css/bootstrap.min.css">
    @RenderBody()
    <script src="~/ClientApp/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="~/ClientApp/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/ClientApp/node_modules/angular/angular.min.js"></script>
    <script src="~/ClientApp/Angular/app.module.js"></script>
    <script src="~/ClientApp/Angular/Service/CurrentTime.Service.js"></script>
    <script src="~/ClientApp/Angular/Service/TimeZone.Service.js"></script>
    <script src="~/ClientApp/Angular/Controller/CurrentTime.Controller.js"></script>
</body>
</html>
